<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About | Eventbrite Pranay</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h2> About </h2>
    <p> This app was created in April 2019, by <a href="https://github.com/pranaym12">Pranay Mittal</a> (Rice University, Class of 2021).</p>
    <p>What did I use?</p>
    <li>Flask/Python to construct the app.</li>
    <li>OAuth 2 + Eventbrite API to let a user sign in and see their Eventbrite events.</li>
    <li>Google Cloud App Engine for hosting this app.</li>    
    <li>Postman for processing POST/GET requests.</li>
    <h1><a href="{{ url_for('login') }}">Login with Eventbrite OAuth to see your events</a></h1>
    {% endblock %}
  </body>
</html>