<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta arset="utf-8">
    <title>Your Events | Eventbrite Pranay</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> Your Created Events! </h1>
    {% set count = [1] %}
    {%for event in events%}
      <!-- {% set time_date = event["start"]["local"] %} -->
      {%set date, time = event["start"]["local"].split("T") %}
      <div>
          <h2>Event {{count[0]}}: {{event["name"]["text"]}}</h2>
          <p>Description: {{event["description"]["text"]}}</p>
          <p>Date: {{date}} </p>
          <p>Local start time: {{time[0:-3]}}</p>
          <p>Link: <a href={{event["url"]}}>{{event["url"]}}</a></p>
      </div>
      {% if count.append(count.pop() + 1) %}{% endif %} {# increment count by 1 #}
    {%endfor %}

    {% endblock %}
  </body>
</html>