<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home | EventBrite Pranay</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h2> Welcome to Pranay's EventBrite app!</h2>
    <p>If you login with your Eventbrite account below, you can see a list of all the events you've created.</p>
    <p>This website was created by Pranay Mittal using Flask, OAuth, and Google Cloud App Engine. See "About" for more info.</p>
    <h1><a href="{{ url_for('login') }}">Login with Eventbrite OAuth to see your events</a></h1>

    {% endblock %}
  </body>
</html>